*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'poppinsextralight';
    src: url('../font/poppins-extralight-webfont.woff2') format('woff2'),
         url('../font/poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('../font/poppins-medium-webfont.woff2') format('woff2'),
         url('../font/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinssemibold';
    src: url('../font/poppins-semibold-webfont.woff2') format('woff2'),
         url('../font/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsthin';
    src: url('../font/poppins-thin-webfont.woff2') format('woff2'),
         url('../font/poppins-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'poppinsextralight';
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url(../image/noise.avif);
    animation: 0.4s infinite noise;
    content: '';
}

.overflow{
    overflow: hidden;
}

@keyframes noise {
    0%,to {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

.jaune{
    color: #ECFD18;
}

.bg-jaune{
    background-color: #ECFD18;
}

.bleu{
    color: #020a59;
}

.bg-bleu{
    background-color: #020a59;
}

/* debut loader */
.p-phone{
    color: #ECFD18;
    font-size: 30px;
    padding-top: 10%;
    opacity: 0;
    transform: translateY(50px);
}

.div-accueil{
    display: none;
}

.div-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    overflow-y: hidden;
    /* display: none; */
}

.div-gauche{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center center, rgb(2,10,89),rgb(8, 8, 8));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-loader{
    width: 30%;
    opacity: 0;
    transform: translateY(-50px);
}

.div-cache{
    display: none;
}

/* fin loader */

/* Navbar */

header{
    position: fixed;
    top: 0;
    left: 0;
    /* background-image: radial-gradient(circle at center center, rgb(2,10,89),rgb(8, 8, 8)); */
    width: 100%;
    height: 12vh;
    color: white;
    padding: 0 3rem;
    z-index: 20;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
}

.div-lien{
    position: relative;
}

.s1{
    transform: translateY(-200px);
    opacity: 0;
    transition: 1.1s cubic-bezier(1,0,0.5,1);
}

.s2{
    transform: translateY(-200px);
    opacity: 0;
    transition: 1.1s cubic-bezier(1,0,0.5,1);
}

.a-lien{
    color: white;
    transition: 0.5s;
}

.div-lien li a{
    text-decoration: none;
    font-size: 75px;
}

.ul-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #292929;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 7%;
    padding-bottom: 7%;
    transform: translateY(-100%);
    /* transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035); */
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
    z-index: 10;
}

.deuxieme-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transform: translateY(-100%);
    transition: transform 1s cubic-bezier(0.85, 0, 0.15, 1);

}

.toggle{
    display: block;
    font-size: 2rem;
    position: relative;
    z-index: 20;
}

.rondAutour{
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    width: 62px;
    height: 62px;
    min-width: max-content;
}

.logo{
    width: 30%;
    height: 100%;
    color: #ECFD18;
}

.div-logo{
    width: 30%;
    transform: translateY(50px);
    opacity: 0;
    position: relative;
    z-index: 20;
}

.div-reseau{
    position: fixed;
    right: 3rem;
    bottom: 5%;
}

.icone{
    font-size: 30px;
    opacity: 0;
    transform: translateY(30px);
}

.ouvrir{
    width: 26px;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.ouvrir:before,
.ouvrir:after
{
    content: '';
    position: absolute;
    width: 26px;
    height: 2px;
    background: white;
    top: -6px;
}

.ouvrir:before{
    top: -7px;
}

.ouvrir:after{
    top: 7px;
}

.fermer{
    display: none;
}

.fermer:before,
.fermer:after
{
    background: white;
    position: absolute;
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    top: 50%;
    transform: rotate(45deg);
    pointer-events: none;
}

.fermer:after{
    transform: rotate(-45deg);
}


.open .ouvrir{
    display: none;
}
.open .fermer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.open .ul-navbar{
    transform: translateY(0);
    transition-delay: 0.5s;
}
.open .deuxieme-slide{
    transform: translateY(0);
}


.rond-blanc{
    position: absolute;
    top: -250%;
    right: -250%;
    z-index: 0;
    pointer-events: none;
}

/* Fin section navbar */


/* Home */

.div-home{
    height: 100vh;
    width: 100%;
    background-color: #F3F2F9;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}

.h1-home{
    font-size: 5rem;
    color: black;
    text-align: center;
    padding-top: 1%;
    text-transform: uppercase;
}

.h2-home{
    font-size: 5rem;
    color: black;
    text-align: center;
    padding-top: 1%;
    text-transform: uppercase;
}

.div-home-center{
    display: flex;
    width: 100%;
    height: 65vh;
    position: relative;
}

.div-gauche-home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-droite-home{
    width: 100%;
}

.border-droite-home,.border-droite-bottom{
    width: 0%;
    height: 100%;
    border-top: 1px solid black;
    position: absolute;
    top: 0;
    right: 50%;
}

.border-droite-bottom{
    border-top: unset;
    border-bottom: 1px solid black;
}

.border-gauche-home,.border-gauche-bottom{
    width: 0%;
    height: 100%;
    border-top: 1px solid black;
    position: absolute;
    top: 0;
    left: 50%;
}

.border-gauche-bottom{
    border-top: unset;
    border-bottom: 1px solid black;
}

.border-milieu-home{
    height: 0%;
    border-left: 1px solid black;
}

.img-home{
    position: absolute;
    width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p-creative{
    width: 30%;
    text-transform: uppercase;
}

/* fin home */

/* About us */

.div-about{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F3F2F9;
}

.text1-about{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 4vh;
}

.text2-about{
    font-size: 20px;
}

.h2-about{
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 2vh;
}

.logo-noir{
    width: 30%;
}



/* fin About us */

/* service */


/* fin service */

/* Projet */

.div-projet{
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
}

/* div gauche projet */

.div-gauche-projet{
    width: 50%;
    height: 100%;
    background-color: #F3F2F9;
    padding-top: 15%;
}

.img-projet{
    width: 100%;
    height: 100%;
    border-radius: 0% 10% 10% 0%;
    opacity: 0;
    display: none;
    transform: scale(0);
}

/* div droite projet */

.div-droite-projet{
    width: 50%;
    height:100%;
    background-color: #F3F2F9;
    padding-top: 15%;
    padding-left: 3%;
}

.container-droit-projet{
    width: 90%;
    overflow: hidden;
}

.div-h2-projet{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
}

.h2-projet{
    font-size: 3rem;
}

.text-projet{
    font-size: 1.5rem;
    text-align: end;
    color: black;
}

.a-projet{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding:3% 0;
    border-bottom: 1px solid black;
}

.li-projet{
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translateX(-30px);
    pointer-events: none;
}

.p-r{
    padding-right: 10px;
}

.p-projet{
    min-width: max-content;
    pointer-events: none;
    font-family: 'poppinsmedium';
}


/* Fin projet */


/* les pages projets */

.section-projet-unanime{
    width: 100%;
    background-color: #F3F2F9;
}

.div-photo-projet1{
    padding-left: 25%;
    padding-right: 25%;
}

.photo-projet1{
    width: 100%;
    border-radius: 0% 0% 10% 10%;
}

.div-description{
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h3-projet{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3rem;
    color: #E4B021;
}

.border-projet1{
    width: 80%;
    height: 2px;
    background-color: #E4B021;
}

.category-projet{
    display: flex;
    width: 100%;
    padding: 3% 10%;

}

.li-projet-view{
    width: 100%;
    padding-right: 5%;
}

.div-story-projet{
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}

.p-story-projet{
    font-size: 1.25rem;
}

.lien-vers-site{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    padding-top: 5%;
    display: inline;
    max-width: max-content;
    position: relative;
}

.lien-vers-site::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.2s ease-in-out;
}

.lien-vers-site:hover::after{
    width: 100%;
}

.ligne-projet{
    display: flex;
    justify-content: space-between;
}

.texte-projet-view{
    font-size: 1.25rem;
    color: #E4B021;
    padding-bottom: 5%;
    text-transform: uppercase;
    font-family: 'poppinsmedium';
}

.texte2-projet-view{
    font-size: 1.25rem;
    text-align: end;
    padding-bottom: 5%;
    text-transform: uppercase;
}

.div-photo-projet-view{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.photo-taille-projet{
    width: 80%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.titre-projet-view{
    font-size: 1.25rem;
    text-transform: uppercase;
}



/* transition entre page */

.loading-screen{
    z-index: 100;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: black;
    width: 100%;
    height: 0%;

}

.load-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
    z-index: 100;
}

/* Media queries */

@media screen and (min-device-width: 150px) and (max-device-width:600px){
    /* navbar */
    header{
        padding: 0 2rem;
    }
    .div-lien li a{
        font-size: 25px;
        color: #ECFD18;
    }
    .logo{
        width: 40%;
    }
    .div-logo{
        width: 80%;
    }
    .a-lien{
        text-transform: uppercase;
    }
    .div-reseau{
        right: 2rem;
    }
    .icone{
        font-size: 20px;
    }
    .ul-navbar{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    /* Home */
    
    .h1-home{
        font-size: 25px;
        text-align: center;
        padding-top: 20%;
    }
    .h2-home{
        font-size: 25px;
    }
    .img-home{
        width: 45%;
    }
    .p-creative{
        position: absolute;
        width:100%;
        bottom: 5%;
        text-align: center;
        left: 0;
        font-size: 1rem;

    }

    /* about */

    .h2-about{
        font-size: 25px;
    }
    .text1-about{
        font-size: 15px;
        margin-bottom: 0;
    }
    .text2-about{
        font-size: 13px;
        text-align: center;
    }
    .logo-noir{
        width: 50%;
    }

    /* service */
    
    /* loader */
    .div-gauche{
        width: 100%;
        background-color: #ECFD18;
        background-image: none;
        display: flex;
        flex-direction: column;
    }
    .p-phone{
        color: #020a59;
        display: block;
        font-size: 30px;
        padding-top: 10%;
        opacity: 0;
        transform: translateY(50px);
    }
    .rond-blanc{
        display: none;
    }
    /* projet */
    .h2-projet{
        font-size: 2rem;
    }
    .div-projet{
        height: 70vh;
    }
    .div-gauche-projet{
        display: none;
    }
    .div-droite-projet{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .li-projet{
        font-size: 1rem;
    }
    .exeption{
        transform: translateX(0);
    }
    .exeption-none{
        transform: translateX(-24px);
    }
    .text-projet{
        font-size: 1rem;
    }
    .a-projet{
        padding: 1.5rem 0;
    }
    .container-droit-projet{
        width: 100%;
    }
    /* page projet */
    .category-projet{
        display: block;
        padding: 5% 10%;
    }
    .h3-projet{
        font-size: 2rem;
    }
    .div-story-projet{
        padding: 0;
    }
    .texte-projet-view{
        font-size: 1rem;
    }
    .texte2-projet-view{
        font-size: 1rem;
    }
    .p-story-projet{
        font-size: 1rem;
    }
    .lien-vers-site{
        font-size: 1rem;
    }
    .div-photo-projet-view{
        padding-top: 5%;
    }
    .div-photo-projet1{
        padding: 40% 10% 10% 10%;
    }
    .photo-projet1{
        border-radius: 10%;
    }
}