*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url(../image/noise.avif);
    animation: 0.5s infinite noise;
    content: '';
}

@keyframes noise {
    0%,to {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

.jaune{
    color: #ECFD18;
}

.bg-jaune{
    background-color: #ECFD18;
}

.bleu{
    color: #020a59;
}

.bg-bleu{
    background-color: #020a59;
}

/* debut loader */

.p-phone{
    display: none;
}

.div-accueil{
    /* display: none; */
}

.div-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    overflow-y: hidden;
    /* display: none; */
}

.div-gauche{
    width: 50%;
    height: 100%;
    background-image: radial-gradient(circle at center center, rgb(2,10,89),rgb(8, 8, 8));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-droite{
    width: 50%;
    height: 100%;
    background-color: #ECFD18;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-loader{
    width: 50%;
    opacity: 0;
    transform: translateY(-50px);
}

.h1-loader{
    font-size: 100px;
    color: #020a59;
    border: 4px solid #020a59;
    padding: 2%;
    opacity: 0;
    transform: translateY(50px);
}

.div-cache{
    display: none;
}

/* fin loader */

/* Navbar */

header{
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle at center center, rgb(2,10,89),rgb(8, 8, 8));
    width: 100%;
    height: 12vh;
    color: white;
    padding: 0 3rem;
    z-index: 20;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
}

.div-lien{
    position: relative;
}

.s1{
    transform: translateX(-60px);
    opacity: 0;
    transition: 0.15s;
}

.s2{
    transform: translateX(60px);
    opacity: 0;
    transition: 0.15s;
}

.a-lien{
    color: white;
    transition: 0.5s;
}

.div-lien li a{
    text-decoration: none;
    font-size: 75px;
}

.ul-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle at center center, rgb(2,10,89),rgb(8, 8, 8));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 7%;
    padding-bottom: 7%;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
    transition-delay: 0.1s;
    z-index: 10;
}

.deuxieme-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ECFD18;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
}

.toggle{
    display: block;
    font-size: 2rem;
    position: relative;
    z-index: 20;
}

.rondAutour{
    color: #020a59;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    width: 62px;
    height: 62px;
    min-width: max-content;
    transform: translateY(-30px);
    opacity: 0;
}

.logo{
    width: 30%;
    color: #ECFD18;
}

.div-logo{
    width: 30%;
    transform: translateY(-10px);
    opacity: 0;
    position: relative;
    z-index: 20;
}

.div-reseau{
    position: fixed;
    right: 3rem;
    bottom: 5%;
}

.icone{
    font-size: 30px;
    opacity: 0;
    transform: translateY(30px);
}

.ouvrir{
    width: 26px;
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.ouvrir:before,
.ouvrir:after
{
    content: '';
    position: absolute;
    width: 26px;
    height: 2px;
    background: #020a59;
    top: -6px;
}

.ouvrir:before{
    top: -7px;
}

.ouvrir:after{
    top: 7px;
}

.fermer{
    display: none;
}

.fermer:before,
.fermer:after
{
    background: #020a59;
    position: absolute;
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    top: 50%;
    transform: rotate(45deg);
    pointer-events: none;
}

.fermer:after{
    transform: rotate(-45deg);
}


.open .ouvrir{
    display: none;
}
.open .fermer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.open .ul-navbar{
    transform: translateX(0);
}
.open .deuxieme-slide{
    transform: translateX(0);
}

.rond-blanc{
    position: absolute;
    top: -250%;
    right: -250%;
    z-index: 0;
    pointer-events: none;
}

/* Fin section navbar */


/* Home */

.div-home{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: radial-gradient(circle at center center, rgb(2,10,89),rgb(8, 8, 8));
}




.h1-home{
    font-size: 50px;
    text-transform: uppercase;
}

.h2-home{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.border-home{
    padding: 2%;
    border: 3px solid #ECFD18;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-200px);
    opacity: 0;
}

.ligne{
    width: 1px;
    height: 0vh;
    position: absolute;
    bottom: 10%;
}

.scroll-home{
    position: absolute;
    bottom: 5%;
    text-decoration: none;
    transform: translateY(30px);
    opacity: 0;
}


/* fin home */

/* About us */

.div-about{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F3F2F9;
}

.text1-about{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 4vh;
}

.text2-about{
    font-size: 20px;
}

.h2-about{
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 2vh;
}

.logo-noir{
    width: 30%;
}



/* fin About us */

/* service */


/* fin service */

/* Projet */

.div-projet{
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
}

/* div gauche projet */

.div-gauche-projet{
    width: 50%;
    height: 100%;
    background-color: #F3F2F9;
    padding-top: 15%;
}

.img-projet{
    width: 100%;
    height: 100%;
    border-radius: 0% 10% 10% 0%;
    opacity: 0;
    display: none;
}

/* div droite projet */

.div-droite-projet{
    width: 50%;
    height:100%;
    background-color: #F3F2F9;
    padding-top: 15%;
    padding-left: 3%;
}

.container-droit-projet{
    width: 90%;
    overflow: hidden;
}

.div-h2-projet{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
}

.h2-projet{
    font-size: 3rem;
}

.text-projet{
    font-size: 1.5rem;
    text-align: end;
    color: black;
}

.a-projet{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding:3% 0;
    border-bottom: 1px solid black;
}

.li-projet{
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translateX(-30px);
    pointer-events: none;
}

.p-r{
    padding-right: 10px;
}

.p-projet{
    min-width: max-content;
    pointer-events: none;
}


/* Fin projet */




/* Media queries */

@media screen and (min-device-width: 150px) and (max-device-width:600px){
    /* navbar */
    header{
        padding: 0 2rem;
    }
    .div-lien li a{
        font-size: 25px;
        color: #ECFD18;
    }
    .logo{
        width: 40%;
    }
    .div-logo{
        width: 80%;
    }
    .a-lien{
        text-transform: uppercase;
    }
    .div-reseau{
        right: 2rem;
    }
    .icone{
        font-size: 20px;
    }
    .ul-navbar{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    /* Home */
    
    .h1-home{
        font-size: 25px;
        text-align: center;
    }
    .h2-home{
        font-size: 15px;
    }
    .border-home{
        width: 90%;
    }

    /* about */

    .h2-about{
        font-size: 25px;
    }
    .text1-about{
        font-size: 15px;
        margin-bottom: 0;
    }
    .text2-about{
        font-size: 13px;
        text-align: center;
    }
    .logo-noir{
        width: 50%;
    }

    /* service */
    
    /* loader */
    .h1-loader{
        font-size: 20px;
    }
    .div-droite{
        display: none;
    }
    .div-gauche{
        width: 100%;
        background-color: #ECFD18;
        background-image: none;
        display: flex;
        flex-direction: column;
    }
    .p-phone{
        color: #020a59;
        display: block;
        font-size: 30px;
        padding-top: 10%;
        opacity: 0;
        transform: translateY(50px);
    }
    .rond-blanc{
        display: none;
    }
    /* projet */
    .h2-projet{
        font-size: 2rem;
    }
    .div-projet{
        height: 70vh;
    }
    .div-gauche-projet{
        display: none;
    }
    .div-droite-projet{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .li-projet{
        font-size: 1rem;
    }
    .exeption{
        transform: translateX(0);
    }
    .exeption-none{
        transform: translateX(-24px);
    }
    .text-projet{
        font-size: 1rem;
    }
    .a-projet{
        padding: 1.5rem 0;
    }
    .container-droit-projet{
        width: 100%;
    }
}